# 📦 Paper Bag Manufacturing Stock Management System
This Jupyter notebook demonstrates the SQL schema, tables, and procedures 
for managing stock, sales, and purchase orders in a **Paper Bag Manufacturing Company**.

## 🔹 Database Creation
We first create the database `paperbag` to manage stock, sales, and purchase orders.

In [ ]:
-- Create database
create database paperbag;
use paperbag;

## 🔹 Table: Models
This table stores details about different models of paper bags.

**Columns:**
- `Model_ID`: Unique identifier
- `Guzzet`, `Handle`, `Ink`: Bag features
- Dimensions: `Length_cm`, `Width_cm`, `Height_cm`
- `Product_Quantity_per_pallet`: No. of units per pallet

In [ ]:
create table Models(
    Model_ID varchar(3),
    Guzzet varchar(3),
    Handle varchar(3),
    Ink varchar(3),
    Length_cm int default 210,
    Width_cm int,
    Height_cm int default 380,
    Product_Quantity_per_pallet int,
    primary key (Model_ID)
);

insert into Models (Model_ID, Guzzet, Handle, Ink, Length_cm, Width_cm, Height_cm, Product_Quantity_per_pallet)
values
("D_1", "yes", "yes", "No", 210, 120, 380, 105000),
("D_2", "yes", "No", "yes", 210, 120, 380, 210000),
("D_3", "yes", "No", "No", 210, 120, 380, 105000),
("D_4", "No", "yes", "No", 210, 0, 380, 210000),
("D_5", "No", "No", "No", 210, 0, 380, 210000),
("D_6", "yes", "yes", "yes", 230, 120, 400, 210000),
("D_7", "yes", "yes", "yes", 230, 120, 400, 210000),
("D_8", "yes", "yes", "yes", 230, 120, 400, 210000);